/* My About Section */
.about {
    background-color: var(--clr-slate800);
}

.about-header {
    display: block;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
}

.about-header h2 {
    font-size: var(--size-3xl);
}

.sub-about {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.about-text h4 {
    font-size: var(--size-xl);
    margin-top: 16px;
    margin-bottom: 16px;
}

.about-text p {
    font-size: var(--size-lg);
    margin-top: 1em;
    margin-bottom: 1em;
}

.footer_img-content {
    margin: auto 0px;
}

#about-image {
    border-radius: 12px;
    box-shadow: 4px 4px 8px 4px var(--clr-shadow);
    width: 10rem;
    height: auto;
    margin: 16px auto;

    
}

.recomendations {
    display: flexbox;
    flex-flow: column;
    width: 10rem;
    border-radius: 16px;
    background-color: var(--clr-slate200);
    padding: 16px;
}

/* Screens */
/* xs */
@media (min-width: 475px) {
    #about-image {
        width: 218.9px;
        
    }
    
    .recomendations {
        width: 218.9px;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .sub-about {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: normal;
        width: 80%;
        margin: auto;
    }

    .about-text {
        width: 60%;
        /* border: solid 1px rgb(0, 141, 141); */
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
@media (min-width: 1280px) {
    #about-image {
        width: 250px;
        
    }
    
    .recomendations {
        width: 250px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    #about-image {
        width: 300px;
        
    }
    
    .recomendations {
        width: 300px;
    }
}