/* My footer Section */
footer {
    padding: 5rem;
    background: var(--clr-background);
    color: var(--clr-light);
}

.main-footer {
    text-align: center;
}

.footer-h1 {
    color: var(--clr-sky);
    margin-bottom: 8px;
    margin-top: 8px;
}

footer h6 {
    color: var(--clr-light);
}

.footer-buttons {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    justify-content: space-around;
}

.footer-links {
    margin: auto;
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Screens */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .footer-buttons {
        width: 600px;
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */