/* Animations */
.header__menu-burger.open .header__bars {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.header__menu-burger.open .header__bars::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.header__menu-burger.open .header__bars::after {
    transform: rotate(-45deg) translate(35px, 35px);
}





/* Header Component */
header {
    background-color: var(--clr-background);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header__top-nav {
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header__menu-burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-2xl);
    height: var(--size-2xl);
    cursor: pointer;

    transition: all .5s ease-in-out;
}

.header__bars {
    background: var(--clr-light);
    width: var(--size-2xl);
    height: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(225, 101, 47, 0.2);

    transition: all 0.5s ease-in-out;
}

.header__bars::before,
.header__bars::after {
    content: '';
    position: absolute;
    background: var(--clr-light);
    width: var(--size-2xl);
    height: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(225, 101, 47, 0.2);

    transition: all 0.5s ease-in-out;
}

.header__bars::before {
    transform: translateY(-10px);
}

.header__bars::after {
    transform: translateY(10px);
}

.header__logo {
    position: relative;
    /* left: 40%; */
}

.header__logo img {
    width: 200px;
    top: 50%;
}

.header__menu {
    display: none;
}

.header__socials {
    display: none;
}

.header__socials img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    transition: all 0.5s;
}

.header__socials img:hover {
    opacity: 50%;
    /* transform: scale(1.1); */
}

.header__theme-sun:active {
    transform: rotate(360deg);

    transition: all 0.001s;
}

.header__theme-moon:active {
    transform: rotate(-360deg);

    transition: all 0.1s;
}

.header__line {
    border: 1px solid var(--clr-light);
    height: 29px;
}

/* Screens */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .header__socials {
        display: flex;
        list-style: none;
        gap: 1em;
        padding: 22px 24px;
        padding-bottom: 23px;
        padding-top: 22px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .header__menu-burger {
        display: none;
    }
    
    .header__bars {
        display: none;
    }

    .header__logo img {
        left: 0%;
    }

    menu {
        padding: 0;
    }
    
    .header__menu {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 1em;
    }
    
    #header__menu-links {
        font-size: var(--size-base);
        font-weight: 600;
        color: var(--clr-light);
        background: var(--clr-background);
        border: solid 2px transparent;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5em;
        margin: .5em;
    
        transition: all 0.5s;
    }
    
    #header__menu-links:hover {
        color: var(--clr-light);
        transform: translateY(-5px);
        background-image: linear-gradient(115deg, var(--clr-roze), var(--clr-sky), var(--clr-indigo));
        
        border: solid 2px transparent;
        box-shadow: 2px 1000px 1px var(--clr-background) inset;
        background-origin: border-box;
    }
}

/* xl */
@media (min-width: 1280px) {
    .header__menu {
        gap: 2em;
    }

    .header__socials {
        gap: 2em;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
