/* My Project Section */
.myproject {
    padding-bottom: 2rem;
}

main {
    background: var(--clr-slate800);
    color: var(--clr-light);
}

h1 {
    font-size: 48px;
    word-break: break-all;
}

main h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

main h4 {
    color: var(--clr-light);
    margin-top: 16px;
    margin-bottom: 16px;
}

main h5 {
    color: var(--clr-sky);
    font-weight: 600;
    font-size: 1.5em;
    padding: 0px;
    margin:  8px 0px;
}

main h6 {
    color: var(--clr-light);
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Add padding BETWEEN each column */
.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

/* Create four equal columns */
.column {
    float: left;
    width: 100%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgb(116, 116, 116);
    padding: 10px;
    box-shadow: 4px 4px 8px 4px var(--clr-background);

    height: 400px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: table-column;
}

/* Screens */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .column {
        width: 50%;
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .column {
        width: 33%;
    }
}

/* xl */
@media (min-width: 1280px) {
    .column {
        width: 25%;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */