/* Color Sets */
:root {
    --clr-background: hsl(0, 0%, 10%);
    --clr-light: white;
    --clr-dark: black;
    --clr-slate100: hsl(0, 0%, 90%);
    --clr-slate200: hsl(0, 0%, 80%);
    --clr-slate300: hsl(0, 0%, 70%);
    --clr-slate400: hsl(0, 0%, 60%);
    --clr-slate500: hsl(0, 0%, 50%);
    --clr-slate600: hsl(0, 0%, 40%);
    --clr-slate700: hsl(0, 0%, 30%);
    --clr-slate800: hsl(0, 0%, 20%);
    --clr-slate900: hsl(0, 0%, 10%);
    --clr-shadow: #0000001a;

    --clr-sky: #4ccaf0;
    --clr-blue: #4461ee;
    --clr-indigo: #664CE6;
    --clr-violet: #750ac2;
    --clr-roze: #f72684;
    --clr-grad1:linear-gradient(115deg, var(--clr-roze), var(--clr-indigo), var(--clr-sky));
    --clr-grad2: linear-gradient(115deg, var(--clr-roze), var(--clr-sky), var(--clr-indigo));

    /* Sizes */
    --size-xxxs: 0.25rem;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-35xl: 2rem;
    --size-4xl: 2.25rem;
    --size-45xl: 2.5rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


/* Page Styles */
html {
    scroll-behavior: smooth;
    height: 100%;
}

.light-mode {
    --clr-background: white;
    --clr-light: #222222;
    --clr-slate100: hsl(0, 0%, 10%);
    --clr-slate200: hsl(0, 0%, 20%);
    --clr-slate300: hsl(0, 0%, 30%);
    --clr-slate400: hsl(0, 0%, 40%);
    --clr-slate500: hsl(0, 0%, 50%);
    --clr-slate600: hsl(0, 0%, 60%);
    --clr-slate700: hsl(0, 0%, 70%);
    --clr-slate800: hsl(0, 0%, 80%);
    --clr-slate900: hsl(0, 0%, 90%);
    --clr-dark: white;

    --clr-sky: #7bd8f4;
    --clr-blue: #7c90f3;
    --clr-indigo: #9482ed;
    --clr-violet: #c277f8;
    --clr-roze: #fa75b1;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    padding: 0%;
    overflow-x: hidden;
    color: var(--clr-light);
    background-color: var(--clr-background);
}

menu {
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

/* Text configuration */
h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-top: 0px;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

h6 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-light);
}

strong {
    color: var(--clr-indigo);
    font-family: inherit;
}