/* Utility Animation Classes */
.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.animate--infinite {
    animation-iteration-count: infinite;
}

.animate.animate--delay-1s {
    animation-delay: 1s;
}

.animate.animate--fast {
    animation-duration: 0.6s;
}

.animate.animate--slow {
    animation-duration: 3s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px)
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(300px)
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
}

.slideInRight {
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;
}

.bounce {
    animation-name: bounce;
}


















/* Color Sets */
/* --clr-indigo: #4f46e5;
    --clr-teal: #2dd4bf;
    --clr-roze: #db2777;
    --clr-lightteal: #00ffc8; */
:root {
    --clr-background: #222222;
    --clr-light: white;
    --clr-slate200: hsl(0, 0%, 80%);
    --clr-slate400: hsl(0, 0%, 60%);
    --clr-slate600: hsl(0, 0%, 40%);
    --clr-slate800: hsl(0, 0%, 20%);
    --clr-dark: black;

    --clr-sky: #AAE5F8;
    --clr-lightsky: #4CC9F0;
    --clr-blue: #7288F2;
    --clr-lightblue: #4361EE;
    --clr-indigo: #4f46e5;
    --clr-lightindigo: #3a0ca3;
    --clr-violet: #E6C3FC;
    --clr-lightviolet: #7209B7;
    --clr-roze: #F72585;
    --clr-lightroze: #F72585;

    --clr-shadow: #0000001a;
    --clr-teal: #2dd4bf;
    --clr-lightteal: #00ffc8;
}


/* Page Styles */
html {
    scroll-behavior: smooth;
    height: 100%;
}

.light-mode {
    --clr-background: white;
    --clr-light: #222222;
    --clr-slate200: hsl(0, 0%, 20%);
    --clr-slate400: hsl(0, 0%, 40%);
    --clr-slate600: hsl(0, 0%, 60%);
    --clr-slate800: hsl(0, 0%, 80%);
    --clr-dark: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

header {
    background-color: var(--clr-background);
    position: sticky;
    top: 0px;
    z-index: 1;
}

.container {
    width: 1440px;
    margin: auto;
}

.top-nav {
    height: 75px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border: solid 1px rgb(255, 229, 80); */
}

/* Text configuration */
h1 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: var(--clr-dark);
    margin-top: 0px;
}

h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: var(--clr-dark);
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: var(--clr-dark);
}

h4 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--clr-dark);
}

h5 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--clr-dark);
    margin-top: 8px;
    margin-bottom: 8px;
}

h6 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--clr-dark);
    margin-top: 8px;
    margin-bottom: 8px;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: var(--clr-dark);
}

a {
    color: var(--clr-roze);
}

strong {
    color: var(--clr-indigo);
}




































/* Header configuration */
/* #top-home {
    cursor: pointer;
} */
.profile-picture {
    width: 48px;
    height: 48px;
    padding-bottom: 13px;
    padding-top: 16px;
    padding: 16px;
    /* border: solid 1px coral; */
}

.logo img {
    width: 250px;
    /* border: solid 1px rgb(255, 80, 80); */
}

.logo-picture {
    flex-flow: nowrap;
    display: flex;
    /* border: solid 1px rgb(235, 80, 255); */
}

.main-menu {
    width: 600px;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-left: 0px;
    /* border: solid 1px coral; */
}

.main-menu ul {
    padding-left: 0px;
    /* border: solid 1px rgb(80, 255, 217); */

}

#menu-links {
    color: var(--clr-light);
    border: solid 2px transparent;
    padding: 0.5rem 1.5rem;
    background: var(--clr-background);
    border-radius: 8px;
    margin: 10px;

    transition: transform 0.5s;
}

#menu-links:hover {
    color: var(--clr-light);
    background-color: var(--clr-background);
    transform: translateY(-5px);
    background-image: linear-gradient(115deg, var(--clr-roze), var(--clr-teal), var(--clr-indigo));
    
    border: solid 2px transparent;
    box-shadow: 2px 1000px 1px var(--clr-background) inset;
    background-origin: border-box;
}

.social-links {
    color: var(--clr-light);
    display: flex;
    flex-wrap: row nowrap;
    padding: 28px 24px;
    padding-bottom: 23px;
    padding-top: 22px;
    /* border: solid 1px coral; */
}

.social-links img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0px 8px;
    /* border: solid 1px rgb(179, 255, 80); */
}





















/* Side Menu Classes */
.sideMenu {
    font-size: 2rem;
    font-weight: 700;
    padding: .5em 1em;
    color: var(--clr-lightteal);
    background-color: var(--clr-violet);
    border: 10px solid var(--clr-lightteal);
    margin: 10px;
    border-radius: 5px;

    position: fixed;
    z-index: 1;
    top: 100px;
    right: 50px;
    transition: all 0.3s;
}

.sideMenu:hover {
    transform: translateY(-10px);
    background-color: var(--clr-indigo);
    color: var(--clr-roze);
}

















/* The hero image */
.slideshow {
    height: 900px;
}

/* Old background image */
/* .hero-image {
    position: absolute;
    width: 100%;
    height: 900px;
    top: 75px;
    background-image: url("../src-files/images/hero-background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    background-origin: border-box;
} */

#fieldVideo {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-origin: border-box;
}

.hero-text {
    font-family: Open Sans;
    position: absolute;
    top: 20%;
    right: 50%;
    width: auto;
    height: 480px;
    z-index: 0;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--clr-background);
}

.hero-text h1 {
    width: 600px;
    height: 53px;
    font-weight: 900;
    z-index: 1;
    color: var(--clr-light);
}

.hero-text h3 {
    width: 600px;
    font-weight: 600;
    z-index: 1;
    color: var(--clr-light);
    padding-top: 24px;
}

.hero-text h5 {
    width: 600px;
    z-index: 1;
    color: var(--clr-light);
    line-height: 32px;
}

#about-subtittle {
    color: var(--clr-light);
}

.colors-bar {
    position: absolute;
    top: 60px;
    z-index: 1;
}

/* .colors-bar2 {
    position: absolute;
    top: 90px;
    z-index: 1;
    display: inline-block;
    width: 150px;
    height: 10px;
    background-image: linear-gradient(90deg, var(--clr-roze), var(--clr-teal), var(--clr-indigo));
} */

.colors-bar2 {
    position: absolute;
    top: 95px;
    z-index: 1;
    display: inline-block;
    width: 168px;
    height: 4px;
    background: var(--clr-roze);
}

.colors-bar3 {
    position: absolute;
    top: 95px;
    left: 200px;
    z-index: 1;
    display: inline-block;
    width: 168px;
    height: 4px;
    background: var(--clr-teal);
}

.colors-bar4 {
    position: absolute;
    top: 95px;
    left: 368px;
    z-index: 1;
    display: inline-block;
    width: 168px;
    height: 4px;
    background: var(--clr-indigo);
}































/* My Process Section */
.myprocess {
    height: auto;
    background-color: var(--clr-light);
}

.process-steps {
    line-height: 24px;
    /* border: solid 5px peachpuff; */
}

.process-image img {
    width: 800px;
    height: auto;
    position: absolute;
}

.process-steps h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.process-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas:
        "L1 R1"
        "L2 R2"
        "L3 R3"
        "L4 R4"
        "L5 R5";
    width: 100%;
    height: 1000px;
    padding-top: 64px;
    padding-left: 0px;
    justify-content: center;
    /* background-color: coral; */
}

.L1 {
    grid-area: L1;
    height: auto;
}

.R1 {
    grid-area: R1;
    height: auto;
}

.L2 {
    grid-area: L2;
    height: auto;
}

.R2 {
    grid-area: R2;
    height: auto;
}

.L3 {
    grid-area: L3;
    height: auto;
}

.R3 {
    grid-area: R3;
    height: auto;
}

.L4 {
    grid-area: L4;
    height: auto;
}

.R4 {
    grid-area: R4;
    height: auto;
}

.L5 {
    grid-area: L5;
    width: 100%;
    height: auto;
}

.R5 {
    grid-area: R5;
    width: 220px;
    height: auto;
    position: relative;
    left: 69%;
    align-self: end;
    justify-self: end;
    left: 0px;
    bottom: 64px;
}



















/* My Project Section */
.myproject {
    padding-top: 48px;
    padding-bottom: 48px;
}

main h6 {
    color: var(--clr-light);
    margin-top: 8px;
    margin-bottom: 8px;
}

main h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

main h4 {
    color: var(--clr-light);
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Center website */

main {
    margin: auto;
    max-width: 100%;
    background: var(--clr-slate800);
    color: var(--clr-light);
}

h1 {
    font-size: 48px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}
main h5 {
    color: var(--clr-lightteal);
    font-weight: 600;
    font-size: 1.5em;
    padding: 0px;
    margin:  8px 0px;
}
/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    display: none;
    /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: rgb(116, 116, 116);
    padding: 10px;
    box-shadow: 4px 4px 8px 4px var(--clr-background);
}

/* The "show" class is added to the filtered elements */
.show {
    display: table-column;
}

























/* My Skills Section */
.myskills {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    height: 750px;
    background-color: var(--clr-light);
    margin: auto;
}

.skill-images {
    width: 100%;
    display: flexbox;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 460px;
}

.skill-images img {
    width: 33%;
    /* border: solid 3px rgb(91, 205, 63); */
}

#code-image {
    position: absolute;
    right: auto;
    height: auto;
    width: 40%;
    
}

#code-image img {
    position: absolute;
    left: 0px;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#code-image img.top:hover {
    opacity: 0;
}

#uiux-image {
    position: relative;
}

#uiux-image img {
    position: absolute;
    left: 420px;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#uiux-image img.top:hover {
    opacity: 0;
}

#management-image {
    position: absolute;
    right: auto;
    height: auto;
    width: 350px;
}

#management-image img {
    position: absolute;
    left: 960px;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

#management-image img.top:hover {
    opacity: 0;
}


















/* My About Section */
.about {
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    background-color: var(--clr-light);
    margin: auto;
}

.about-header {
    display: block;
    width: 80%;
    margin: auto;
}

.about-text {
    width: 78%;
    /* border: solid 1px rgb(0, 141, 141); */
}

.about-text h4 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.sub-about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

#about-image {
    border-radius: 12px;
    box-shadow: 4px 4px 8px 4px var(--clr-shadow);
    width: 218.9px; 
    height: auto;
    margin: 16px 0px;
    
}

.recomendations {
    display: flexbox;
    flex-flow: column;
    /* border: solid 5px rgb(0, 43, 185); */
    width: 220px;
    border-radius: 16px;
    background-color: var(--clr-slate200);
    padding: 16px;
}





























/* My footer Section */
.main-footer {
    padding-top: 48px;
    padding-bottom: 8px;
    width: 800px;
    text-align: center;
    margin: auto;
}

.footer-h1 {
    color: var(--clr-lightteal);
    margin-bottom: 8px;
    margin-top: 8px;
}

footer {
    background: var(--clr-slate800);
    color: var(--clr-light);
}

footer h6 {
    color: var(--clr-light);
}

.footer-buttons {
    margin: auto;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    justify-content: space-between;
}

.footer-links {
    width: 200px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}