/* Screens */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: solid 1px red;
}

.section {
    padding-top: 5rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        padding-top: 5rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}





/* Utility Animation Classes */
.animate {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.animate--infinite {
    animation-iteration-count: infinite;
}

.animate.animate--delay-1s {
    animation-delay: 1s;
}

.animate.animate--fast {
    animation-duration: 0.6s;
}

.animate.animate--slow {
    animation-duration: 3s;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px)
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(300px)
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
}

.slideInRight {
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;
}

.bounce {
    animation-name: bounce;
}





/* Buttons */
button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.black-btn {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 16px;
    position: absolute;
    width: 100px;
    height: 48px;
    box-shadow: 4px 4px 8px 4px var(--clr-shadow);
    border: none;
}

.black-btn:hover {
    /* background: #6B459D; */
    background-color: var(--clr-indigo);
    color: var(--clr-light);
}

@media (min-width: 475px) {
    .black-btn {
        width: 220px;
        height: 48px;
    }
}

.white-btn {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-weight: 600;
    border: solid 2px var(--clr-dark);
    border-radius: 8px;
    padding: 8px 16px;
    position: absolute;
    width: 100px;
    height: 48px;
    box-shadow: 4px 4px 8px 4px var(--clr-shadow);
    border: none;
}

.white-btn:hover {
    background-color: var(--clr-roze);
    color: var(--clr-dark);
}

@media (min-width: 475px) {
    .white-btn {
        width: 220px;
        height: 48px;
    }
}

/* Project buttons */
.project__btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin-right: 0.25rem ;
    background-color: var(--clr-light);
    cursor: pointer;
}

/* Add a grey background color on mouse-over */
.project__btn:hover {
    background-color: var(--clr-slate200);
}

/* Add a dark background color to the active button */
.project__btn.active {
    background-color: var(--clr-sky);
    color: var(--clr-dark);
}